.Header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    background-color: #1e1e1e; 
    border-bottom: 2px solid #00ff00; 
    font-family: 'Courier New', Courier, monospace; 
    
}

.Header nav {
    display: flex; 
    gap: 30px;
}

.Header a {
    text-decoration: none; 
    color: #00ff00; 
    font-size: 18px; 
    
}

.Header a:hover {
    text-decoration: underline; 
    color: #ff0000; 
}
