.Header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    background-color: #0080ff;
}

.Header nav {
    display: flex; 
    gap: 15px;
}

.Header a {
    text-decoration: none; 
    color: #000000;
    font-size: 16px; 
}

.Header a:hover {
    text-decoration: underline; 
}
