.OSI {
    display: flex;
    flex-direction: column;
    height: 900px;
    background-image: url('../img/network.jpg');
    padding: 10px;
}

.Layer {
    flex: 1;
    margin: 5px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.Layer:hover {
    background-color: rgba(123, 255, 0, 0.2);
}

.Layer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.Layer p {
    font-size: 1rem;
    color: #ddd;
}

.Layer p strong {
    color: #ff0000; 
}
