
.Main {
    background-color: rgb(26, 0, 22);
    height: 850px;
}

.Network1, .Network2, .Network3 {
    background-color: rgb(49, 49, 49);
    color: white;
    height: 60%;
}

.cont {
    display: flex; /* 추가 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.Title {
    text-align: center;
    font-size: larger;
}