/* Sec.css */
.Analys {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 85vh;
    display: flex;
  }
  
  .Analys h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    
  }
  
  .word {
    width: 70%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  .word th, .word td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 30%;
  }
  
  .word th {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
  }
  
  .word td {
    font-size: 16px;
    color: #555;
  }
  
  .word tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .word tr:hover {
    background-color: #ddd;
  }
  
  .word td:first-child {
    font-weight: bold;
    color: #333;
  }
  
  .word th, .word td {
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .tbody tr {
    height: 50px;
  }

  
  @media screen and (max-width: 768px) {
    .word {
      font-size: 14px;
    }
  }
  