/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 사용 */
}

.Header {
  background-color: cadetblue;
  display: flex; 
  justify-content: center;
  padding: 1rem; 
}

.Routes {
  flex: 1; /* 남은 공간을 채우도록 설정 */
  background-color: antiquewhite;
  padding: 1rem; 
}

.Footer {
  background-color: cornflowerblue;
  padding: 1rem; 
  text-align: center; 
  position: relative; /* 기본 위치 설정 */
}
